@charset "UTF-8";

* { margin:0; padding: 0; }
body { background-color:#fff; 
	color: #333;
}
div#intro {
	margin: 10px;
}
div#intro h1 {
	color: #666666;
	margin-bottom: 20px;
}
p.comment {
	margin: 20px 0;
}
img.left {
	float: left;
}
.title {
	width: 300px;
	float: left;
	margin: 20px;
}
.clear {
	clear: both;
} 
ul {
	list-style: none
}
li {
	margin: 8px 0;
}
div#description {
	margin: 20px;
}
div#description h2 {
	margin-bottom: 20px;
}
div#description p {
	margin-bottom: 10px;
}